<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="{{ eleventy.generator }}"/>
        <title>{{page.title}}</title>
        <meta name="description" content="{{page.description}}"/>
        <meta name="og:title" content="{{page.title}}"/>
    <meta name="og:description" content="{{page.description}}"/>
    {# <link rel="icon" href="{{ '/favicon.png' | url }}"/> #}
        {# <link href="{{ '/css/style.css' | url }}" rel="stylesheet"/> #}
    </head>
    <body>
        {{ content | safe }}
    </body>
</html>