<header>
    <h1>site</h1>
    <nav>
        <ul>
            <li><a href="{{ '/posts/' | locale_url }}">posts</a></li>
            <li><a href="{{ '/about/' | locale_url }}">about</a></li>
        </ul>
    </nav>
</header>